body{
  background-color: #93D489;
  color: #62CBB4;
  font-family: monospace;
}
.magaz{
    text-align: center;
    color: yellow;
    font-size: 35px;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.idk{
  font-size: 20px;
  font-family: fantasy;
  color: rgb(64, 86, 222);
}
nav{
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.img{
  
  display: flex;
  justify-content: space-between;
}
img{
  border: rgb(55, 189, 175) solid 1px;
  width: 300px;
  height: 250px;
}
.sale{
  color: #E79A21;
  background-color: #E3202A;
  text-align: center;
}
td{
border:1px solid green;
}
table{
  background-color: #BD8E41;
}
a:hover {
  border: dotted 2px rgb(194, 149, 67);
    color: yellow;
    background-color: rgb(85, 85, 180);
}
img:hover {
  border: dotted 3px lightsteelblue;
    width: 400px;
    height: 350px;
}
h1{
  text-align: center;
  color: #3B567A;
}

a{
  color: #3B567A;
}
footer{
  background-color: #4B739D;
}
.text{
  
}
