body{
  background-color: #93D489;
  color: #62CBB4;
  font-family: monospace;
}
.magaz{
    text-align: center;
    color: yellow;
    font-size: 35px;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.idk{
  font-size: 20px;
  font-family: fantasy;
  color: rgb(64, 86, 222);
}
nav{
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.img{
  
  display: flex;
justify-content: space-between;

  flex-wrap: wrap;
}
img{
  border: rgb(55, 189, 175) solid 1px;
  width: 300px;
  height: 250px;
}
.sale{
  color: #E79A21;
border: #3B567A solid 2px;
background-color: tomato;
margin-left: 300px;
margin-right: 300px;
border-radius: 77px;
  text-align: center;
}
td{
border:1px solid green;
}
table{
  margin-left:auto ;
  margin-right: auto;
  background-color: #BD8E41;
  width: 200px;
  height: 200px;
 
}
a:hover {
  border: dotted 2px rgb(194, 149, 67);
    color: #FAF800;
    background-color: rgb(85, 85, 180);
}
img:hover {
  border: dotted 3px lightsteelblue;
    width: 400px;
    height: 350px;
}
h1{
  text-align: center;
  color: #3B567A;
}

a{
  color: #3B567A;
}
footer{
  border:#4B739D solid 1px ;
  border-radius: 25px;
  background-color: #4B739D;
}
.footimg{
  height: 100px;
  width: 100px;
}
.footimg:hover{
  height: 120px;
  width: 120px;
  
}
.head{
  background-color:    #89E3CF;
  border: 2px solid #8DC4E2;
  border-radius: 5px;
  
}
.h1{
  color: #FF7C00;
}





.text{
  
}
